.DS_Store
xcuserdata/
build/
.idea
DerivedData/
Nimble.framework.zip

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
