SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator;

COMBINE_HIDPI_IMAGES = YES;
PRODUCT_BUNDLE_IDENTIFIER = com.danielemargutti.$(PRODUCT_NAME:rfc1034identifier);
PRODUCT_NAME = $(TARGET_NAME);
APPLICATION_EXTENSION_API_ONLY = NO;
INFOPLIST_FILE = SwiftDateTests/Info.plist;

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=watch*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks;
